# generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# required for non-vercel deployments, vercel uses OIDC automatically
# https://vercel.com/ai-gateway
AI_GATEWAY_API_KEY=****

# https://vercel.com/docs/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# https://vercel.com/docs/postgres
POSTGRES_URL=****

# https://vercel.com/docs/redis
REDIS_URL=****

GITHUB_PAT=****
GITHUB_OWNER=company
GITHUB_REPO=ki3s-gitops
JENKINS_URL=https://jenkins.example.com
JENKINS_TOKEN=****
JENKINS_JOB=trustOps-job
LLM_ENDPOINT=https://trustopsback.example.com
LANGFUSE_URL=https://langfuse.example.com
